* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: block;
  width: 1920px;
  margin: auto; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  min-height: 62.5rem;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../image/header.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header.jpg);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
  background-size: cover; }
  .header-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: "";
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: "";
    -webkit-align-items: "";
    -ms-flex-align: "";
    align-items: "";
    -webkit-align-content: "";
    -ms-flex-line-pack: "";
    align-content: "";
    list-style: none;
    margin-top: 3.125rem; }
    .header-list-item {
      padding-right: 3.125rem; }
    .header-list-link {
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      color: #f4f5f9;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding-bottom: 1.875rem; }
      .header-list-link:hover {
        text-decoration: none;
        color: #e74c3c;
        border-bottom: solid 0.0625rem;
        border-color: #e74c3c; }
  .header-box {
    margin-top: 15.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: "";
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-box-title, .header-box-subtitle, .header-box-text {
      font-size: "";
      font-family: "Open Sans", sans-serif;
      color: #f4f5f9;
      text-align: center;
      margin-bottom: 2.8125rem; }
    .header-box-title {
      font-size: 4.5rem;
      font-weight: bold; }
    .header-box-subtitle {
      font-size: 1.5rem; }
    .header-box-text {
      font-size: 0.875rem;
      width: 40%; }
    .header-box-trait-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: "";
      -ms-flex-wrap: "";
      flex-wrap: "";
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-content: "";
      -ms-flex-line-pack: "";
      align-content: "";
      margin-bottom: 2.8125rem; }
      .header-box-trait-box-point {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 0.625rem;
        background-color: #e74c3c;
        margin: 0 1.125rem 0 1.125rem; }
      .header-box-trait-box-trait {
        width: 4.6875rem;
        height: 0.125rem;
        background-color: #f4f5f9; }
  .header-link-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: "";
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: "";
    -webkit-align-items: "";
    -ms-flex-align: "";
    align-items: "";
    -webkit-align-content: "";
    -ms-flex-line-pack: "";
    align-content: ""; }
  .header-link {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 13.75rem;
    height: 3.125rem;
    border: solid 1px #f4f5f9;
    padding: 0.875rem;
    text-align: center; }
    .header-link:first-child {
      margin-right: 1.875rem; }
    .header-link:hover {
      border: none;
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      color: #f4f5f9;
      text-decoration: none;
      text-transform: "";
      background-color: #e74c3c; }

.main {
  min-width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  position: relative; }

.main::before {
  width: 3.125rem;
  height: 3.125rem;
  content: '\2693';
  color: #e74c3c;
  border-radius: 1.5625rem 1.5625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  background-color: #f4f5f9;
  left: 49%;
  top: -0.5%;
  font-size: 2.5rem;
  -webkit-box-shadow: 0 -4px 3px 5px rgba(80, 75, 68, 0.3);
  box-shadow: 0 -4px 3px 5px rgba(80, 75, 68, 0.3); }

.who {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: "";
  -ms-flex-wrap: "";
  flex-wrap: "";
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: "";
  -webkit-align-items: "";
  -ms-flex-align: "";
  align-items: "";
  -webkit-align-content: "";
  -ms-flex-line-pack: "";
  align-content: ""; }
  .who-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: "";
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: "";
    -ms-flex-line-pack: "";
    align-content: "";
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 22%;
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
    margin-top: 110px; }
    .who-card-svg {
      width: 1.5625rem;
      height: 1.5625rem;
      fill: #e74c3c; }
    .who-card-title {
      font-size: 1.125rem;
      font-family: "Open Sans", sans-serif;
      color: #6a6a6a;
      font-weight: bold; }
    .who-card:hover > .who-icon {
      border-color: #e74c3c;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .who-card:hover > .who-icon > .who-card-svg {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .who-card:hover > .who-card-title {
      color: #e74c3c; }
    .who-card-subtitle {
      font-size: 0.75rem;
      font-family: "Open Sans", sans-serif;
      color: #e5e5e5;
      text-align: center; }
  .who-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: "";
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: "";
    -ms-flex-line-pack: "";
    align-content: "";
    width: 4.375rem;
    height: 4.375rem;
    border: solid 1px #e5e5e5;
    margin-bottom: 2.1875rem; }
  .who-trait {
    width: 2.5rem;
    height: 0.0625rem;
    background-color: #e5e5e5;
    margin: 1.5625rem 0 1.5625rem 0; }

.trait {
  width: 100%;
  height: 0.0625rem;
  background-color: #e5e5e5;
  margin: 6.25rem 0 8.125rem; }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px; }
  .about-title {
    font-size: 2.25rem;
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    font-weight: bold;
    border-left: solid 0.3125rem #e74c3c;
    padding-left: 1.875rem;
    margin-bottom: 3.75rem; }
  .about-text {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    line-height: 2;
    margin-bottom: 2.5rem; }
  .about-link {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 13.75rem;
    height: 3.125rem;
    border: solid 1px #f4f5f9;
    background-color: #6a6a6a;
    padding: 0.875rem;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1);
    box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1); }
    .about-link:hover {
      border: none;
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      color: #f4f5f9;
      text-decoration: none;
      text-transform: "";
      background-color: #e74c3c; }

.services {
  background: url(../image/pad.jpg) no-repeat;
  background-position: right;
  background-color: #202020;
  padding-top: 7.1875rem;
  padding-bottom: 7.1875rem; }
  .services-box {
    margin: auto;
    width: 50%; }
  .services-title {
    width: 50%;
    font-size: 2.25rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    font-weight: bold;
    border-right: solid 0.3125rem #e74c3c;
    padding-right: 1.875rem;
    margin-bottom: 3.75rem;
    text-align: end; }
  .services-list {
    list-style: none; }
    .services-list-box {
      width: 50%;
      text-align: end; }
    .services-list-item {
      margin-bottom: 3.125rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .services-list-item:last-child {
        margin-bottom: 0; }
    .services-list-title {
      font-size: 1.125rem;
      font-family: "Open Sans", sans-serif;
      color: #e74c3c;
      font-weight: bold; }
    .services-list-text {
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      color: #676767; }
    .services-list-icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: "";
      -ms-flex-wrap: "";
      flex-wrap: "";
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-content: "";
      -ms-flex-line-pack: "";
      align-content: "";
      width: 4.0625rem;
      height: 4.0625rem;
      border-radius: 50%;
      background: #f4f5f9;
      -webkit-box-shadow: 0 0 3px 5px rgba(120, 120, 120, 0.7);
      box-shadow: 0 0 3px 5px rgba(120, 120, 120, 0.7);
      margin-left: 3.125rem; }
      .services-list-icon-svg {
        width: 1.875rem;
        height: 1.875rem;
        fill: #e74c3c; }

.pricing-title {
  font-size: 2.25rem;
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
  font-weight: bold; }

.pricing-subtitle {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a; }

.pricing-cost {
  position: absolute;
  top: 22%;
  left: 14%;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background: #f4f5f9;
  -webkit-box-shadow: 0 0 3px 5px rgba(120, 120, 120, 0.7);
  box-shadow: 0 0 3px 5px rgba(120, 120, 120, 0.7);
  margin-left: 3.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: "";
  -ms-flex-wrap: "";
  flex-wrap: "";
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: "";
  -ms-flex-line-pack: "";
  align-content: "";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .pricing-cost-title {
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    font-weight: bold;
    margin-bottom: 0; }
    .pricing-cost-title::before {
      content: '\0024'; }

.pricing-box {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
  background: #f4f5f9;
  position: relative; }
  .pricing-box-title {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    font-weight: bold;
    background: #999999;
    padding: 3.125rem 0 8.125rem;
    margin: 0; }
  .pricing-box-text {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    line-height: 3;
    padding: 100px 70px 50px 70px; }
  .pricing-box-link {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 13.75rem;
    height: 3.125rem;
    border: solid 1px #f4f5f9;
    background-color: #6a6a6a;
    padding: 0.875rem;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1);
    box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1);
    margin: auto; }
  .pricing-box:hover > .pricing-box-link {
    border: none;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #f4f5f9;
    text-decoration: none;
    text-transform: "";
    background-color: #e74c3c; }
  .pricing-box:hover > .pricing-box-title {
    background: #e74c3c; }

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: "";
  -ms-flex-wrap: "";
  flex-wrap: "";
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: "";
  -webkit-align-items: "";
  -ms-flex-align: "";
  align-items: "";
  -webkit-align-content: "";
  -ms-flex-line-pack: "";
  align-content: ""; }
