$background-color: #ffffff;
$header-link-font: 'Open Sans',
sans-serif;
$header-link-color: #f4f5f9;
$header-link-hover-color: #e74c3c;
$title-font-color: #6a6a6a;
$subtitle-font-color:#e5e5e5;
$text-color-darc: #676767;
$background-color-darc:#999999;
$blog-text-color: #ffffff;
$logo-color:#c9c9c9;
$border-color:#d8d9db;