
@mixin size($width, $heige) {
    width: $width;
    height: $heige;
  }
  @mixin font-settings($size, $family, $color) {
    font-size: $size;
    font-family: $family;
    color: $color;
  }
  
  @mixin text-decor($dekor, $transfor) {
    text-decoration: $dekor;
    text-transform: $transfor;
  }
  @mixin flex($display, $wrap, $j-content,$a-item, $a-content){
    display: $display;
    flex-wrap: $wrap;
    justify-content: $j-content;
    align-items: $a-item;
    align-content: $a-content;
  } 