
.promo {
    background: url(../image/road-promo.jpg);
    padding: px-to-rem(140px) 0 px-to-rem(140px) 0;
    text-align: center;
    &-title {
        @include font-settings(px-to-rem(36px), $header-link-font, $background-color);
        font-weight: bold;
        margin-bottom: px-to-rem(30px);
    }
    &-subtitle {
        @include font-settings(px-to-rem(14px), $header-link-font, $background-color);
        margin-bottom: px-to-rem(30px);
    }
    &-link {
        @include font-settings(px-to-rem(14px), $header-link-font, $background-color);
        font-weight: bold;
        @include text-decor(none, uppercase);
        display: block;
        @include size(px-to-rem(220px), px-to-rem(50px));
        border: solid 1px $header-link-color;
        background-color: $title-font-color;
        padding: px-to-rem(14px);
        text-align: center;
        box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1);
        margin: auto;
        &:hover {
            border: none;
            @include font-settings(px-to-rem(14px), $header-link-font, $background-color);
            @include text-decor(none, '');
            background-color: $header-link-hover-color;
        }
    }
}