
.contact {
    background: $header-link-color;
    padding: px-to-rem(70px) 0 px-to-rem(140px) 0;
    text-align: center;
    &-box {
        @include flex(flex, '', space-between, '', '');
    }
    &-title {
        @include font-settings(px-to-rem(36px), $header-link-font, $title-font-color);
        font-weight: bold;
        margin-bottom: px-to-rem(30px);
        @include text-decor('', uppercase);
    }
    &-subtitle {
        @include font-settings(px-to-rem(14px), $header-link-font, $title-font-color);
        margin-bottom: px-to-rem(30px);
    }
}

.adress-list {
    list-style: none;
    text-align: start;
    flex-basis: 34%;
    background: $background-color;
    padding: px-to-rem(30px) px-to-rem(30px) px-to-rem(90px) px-to-rem(30px);
    margin-bottom: 0;
    &-item {
        &-title {
            margin-bottom: px-to-rem(32px);
            margin-top: px-to-rem(60px);
            @include font-settings(px-to-rem(24px), $header-link-font, $header-link-hover-color);
            font-weight: bold;
            @include text-decor('', uppercase);
        }
        &-text {
            @include font-settings(px-to-rem(24px), $header-link-font, $title-font-color);
        }
    }
}

.form {
    flex-basis: 64%;
    @include flex(flex, '', flex-start, '', '');
    flex-direction: column;
    padding: px-to-rem(90px) px-to-rem(90px) px-to-rem(90px);
    background-color: $background-color;
    box-shadow: 0 4px 0 rgba(225, 226, 229, 0.3);
    &-item {
        width: 100%;
        margin-bottom: px-to-rem(27px);
        padding-bottom: px-to-rem(14px);
        @include font-settings(px-to-rem(24px), $header-link-font, $title-font-color);
        border: 1px solid transparent;
        border-bottom-color: $subtitle-font-color;
    }
    &-area {
        width: 99%;
        margin-bottom: px-to-rem(24px);
        resize: none;
        @include font-settings(px-to-rem(24px), $header-link-font, $title-font-color);
        border: 1px solid transparent;
        border-bottom-color:$subtitle-font-color ;
    }
    &-btn {
        @include font-settings(px-to-rem(14px), $header-link-font, $header-link-color);
        font-weight: bold;
        @include text-decor(none, uppercase);
        display: block;
        @include size(px-to-rem(220px), px-to-rem(50px));
        border: solid 1px $header-link-color;
        background-color: $title-font-color;
        padding: px-to-rem(14px);
        text-align: center;
        box-shadow: 0 3px 3px 2px rgba(80, 75, 68, 0.1);
        &:hover {
            border: none;
            @include font-settings(px-to-rem(14px), $header-link-font, $header-link-color);
            @include text-decor(none, '');
            background-color: $header-link-hover-color;
        }
    }
}
