body {
  background: url(../../image/background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  margin: auto;
  background-size: cover;
  padding-top: 1.25rem;
} 
a:hover{
  text-decoration: none;
}