.page-footer{
  
  margin: auto;
  background: var( --footer-background-color);
  padding: 2.5rem 0;
}
footer {
 
  max-width: 1024px;
margin: auto;
}

.footer-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 
}
.footer-list-item{
  justify-content: space-evenly;
  display: flex;
  flex-basis: 33%;
}
.footer-text{
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.938rem;
 text-decoration:  none;
 font-family: var(--font-footer);
 font-size: 1rem;
 color: var(--foter-text-color);
}
.footer-text:last-child{
  margin-bottom: 0;
}
.footer-social{
  display: flex;
  width: 15.625rem;
  margin: 1.25rem auto;
 
  justify-content: space-evenly;
}
.icon {
  display: block;
  width: 40px;
  height: 40px;
 
}
.icon:hover{
  filter: contrast(10%)
}
.facebook {
  background: url(../image/sprite.png) -40px -40px;
}

.twitter {
  background: url(../image/sprite.png);
}

.google {
  background: url(../image/sprite.png) 0 -40px;
}

.instagram {
  background: url(../image/sprite.png) -40px 0;
}
.legal{
  text-align: center;
  color: var(--quote-background-color);
}
